body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 20%;
    
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 2em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}
img {
    position: absolute;
    position: left;
    bottom: 8px;
    /* right: 16px; */
    
}
.fish {
    position: absolute;
    position: right;
    /* position: center; */
    bottom: 1px;
    /* left: 200px; */
    right: 435px;
    /* top: 20%; */
   
}
